absl-py==0.13.0
asgiref==3.4.1
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
camelot-py @ file:///C:/Users/steve%20iko/Documents/Loan%20Application/Loan_Approval_App/Step_2/2.3%20Bank_Statement_Analyses/camelot
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
ci-info==0.2.0
click==8.0.3
cmake==3.21.2
colorama==0.4.4
configobj==5.0.6
configparser==5.1.0
cryptography==35.0.0
cycler==0.10.0
debugpy==1.4.1
decorator==5.0.9
distlib==0.3.3
distro==1.6.0
Django==3.2.7
dlib==19.20.0
Elixir==0.7.1
entrypoints==0.3
et-xmlfile==1.1.0
etelemetry==0.2.2
face-recognition-models==0.3.0
filelock==3.3.2
fitz==0.0.1.dev2
future==0.18.2
ghostscript==0.7
httplib2==0.20.2
idna==3.3
ipykernel==6.4.0
ipython==7.27.0
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.18.0
Jinja2==3.0.3
jupyter-client==7.0.2
jupyter-core==4.7.1
kiwisolver==1.3.2
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mediapipe==0.8.7.2
msvc-runtime==14.29.30133
nest-asyncio==1.5.1
networkx==2.6.3
nibabel==3.2.1
nipype==1.7.0
numpy==1.21.2
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
openpyxl==3.0.9
packaging==21.2
pandas==1.3.3
parso==0.8.2
pathlib==1.0.1
pbr==5.7.0
pdf2image==1.16.0
pdfminer.six==20200517
pdfplumber==0.5.28
pdftopng==0.2.3
pickleshare==0.7.5
Pillow==8.2.0
platformdirs==2.4.0
prompt-toolkit==3.0.20
protobuf==3.17.3
prov==2.0.0
pycparser==2.21
pycryptodome==3.11.0
pydot==1.4.2
Pygments==2.10.0
PyMuPDF==1.19.1
pyparsing==2.4.7
PyPDF2==1.26.0
pytesseract==0.3.8
python-dateutil==2.8.2
pytz==2021.1
pywin32==301
pyxnat==1.4
pyzmq==22.2.1
rdflib==6.0.2
requests==2.26.0
scipy==1.7.2
simplejson==3.17.5
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.4.2
tabula-py==2.3.0
tabulate==0.8.9
Tempita==0.5.2
tika==1.24
tornado==6.1
traitlets==5.1.0
traits==6.3.2
typing_extensions==4.0.0
urllib3==1.26.7
virtualenv==20.10.0
Wand==0.6.7
wcwidth==0.2.5
xlrd==0.7.1
xlwt==0.7.2
